<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אקיטה יפני - Japanis Akita
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Japanis_Akita.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          גזע כלבי אקיטה יפניים הוא גזע המשדר עוצמה מלכותית, בזכות המראה המרשים שלו מצד אחד ומנגד התנהגותו הרגועה. כלבי האקטיה הזכריים הם כלבים שמשקלם יכול להגיע ליותר ממאה קילו וגובהם כאשר הם עומדים על שתי רגליים אחוריות מגיע עד ל- 28 ס"מ. לראשם של הכלבים צורה המזכירה פרצוף דוב, הזנב העשיר בפרווה ומסולסל על הגב הוא סימן היכר נוסף שלהם. העיניים של גזע כלבי אקיטה הם עיניים כהות ועמוקות, האוזניים זקופות, החוטם קצר באופן יחסי והאף שלהם בדרך כלל בצבע שחור או חום. המצח של כלבי האקיטה רחב מאוד, כך שאצל הכלבים הזכרים ניתן להניח את כף היד על המצח ולא לגעת באוזניים. גופם של הכלבים שרירי, יציבתם גאה והפרווה סמיכה מאוד בצבע חום או אדמדם עם שיער לבן באזור החזה והזנב, הבהונות של כלבי אקיטה קרומיות ועוזרות להם להיות שחיינים מצוינים.

          גובה ממוצע של כלב בוגר: 65 ס"מ משקל ממוצע של כלב בוגר: 45 ק"ג
        </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          בדרך כלל כלבי האקיטה נחשבים לכלבים בעלי מזג נוח, הם כלבים שקטים שנובחים רק כאשר הם חייבים. אנשים רבים טוענים שכלבים אלו עוזרים להם להרגיש רגועים ושלווים. גזע כלבי אקיטה נודע גם בשל הסבלנות הרבה שלו, הנאמנות, המסירות וההגנה שלו על ילדים, הם גם מאוד עדינים במשחקם עם ילדים. בנוגע לבעלי חיים אחרים, צריך להרגיל את האקיטה אליהם מגיל צעיר מאוד כדי שיתגברו על אינסטינקט הצייד שלהם, ללא תהליך חיברות נכון, הם עלולים להיות תוקפניים.     
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          כלבים שהושבחו על ידי מגדלי כלבים מקצועיים הם בריאים מאוד, אבל השבחה לא נכונה בתוך הגזע יכולה לגרום למספר רב של בעיות רפואיות כגון: פיתול קיבה, נפיחות בקיבה, קטרקט, גלוקומה, ניוון רשתית, דיספלסיה של מפרק הירך, בעיות גדילה אצל גורים צעירים, שלפוחיות ופצעים על האף וכריות כפות הרגליים, הפרעה בדם הדומה להמופיליה. מצבים בריאותיים אלו נחשבים לנדירים יחסית וניתן לטפל בהם באמצעות תרופות וטיפולים כירורגיים. את פרוות האקיטה צריך להבריש פעם בשבוע וצריך להתאים את המברשת לסוג הפרווה, אסור לרחוץ כלבים אלו לעיתים קרובות מידי.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            תנאי החיים האידיאליים לכלב מגזע אקיטה הם חצר גדולה עם גדר, מכיוון שמדובר בכלבים חזקים הם ייהנו מפעילויות של סחיבת משקולות וכדומה, אבל רק מעל גיל 18 חודשים. הכלבים אוהבים לקפוץ, לרוץ ולשחק והם ייהנו מתרגול עם כלב נוסף. כלבי אקיטה הם אידיאליים לטיולים רגליים גם בתנאיי שטח מאתגרים, אקיטה שהוציא אנרגיה בחוץ יהיה כלב רגוע בבית, כלבי האקיטה יכולים לשחות במים, אבל רק בימים חמים.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              שוב להראות לכלב האקיטה מי הוא הבוס מהרגע שהוא מגיע הביתה, לכלבי האקיטה יש כוח רצון חזק והם רוצים להיות בעלי עוצמה שווה לבעלים, לכן אתם צריכים לגרום לכלבים אלו להיות כפופים לכם, כמו לדוגמה לתת לו לישון על הרצפה לידכם ולא על המיטה. כלבי האקיטה הם מאוד אינטליגנטים ובזכות כך הם מהירים ללמוד, בעיקר בנוגע לעשיית צרכים מחוץ לבית. האילוף צריך להיות שגרתי ועל בסיס יומי. חשוב לאלף את גזע זה כך שהוא יהיה תמיד תחת שליטתך ויציית להוראות שלך. 
            </div>
      </mat-tab>
  </mat-tab-group>
  
