<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אמסטף - Amstaff
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Amstaff.jpg">   
  
  <mat-tab-group  >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          שמו של הכלב הוא קיצור של ראשי התיבות שלו – אמ – אמריקאי, סטאף – סטאפורדשייר (סטאפורדשייר טרייר אמריקאי). כלב זה הושג מזיווג בין כלב מגזע בולדוג עם גזעי טרייר שונים. כלב אמסטף הורבע במיוחד כדי להילחם במלחמות כלבים, בתקופה שבה מלחמות אלו היו אהודות ואהובות מאוד. 
          מבנה גופו החסון, המוצק והשרירי של האמסטף משדר עוצמה, אך למרות המסיביות של שריריו הכלב גמיש וחינני. הגולגולת של הכלב רחבה מאוד ואוזניו הקטנות ממוקמות גבוה על ראשו. האף של כלב האמסטף בצבע שחור והלסת התחתונה שלו חזקה מאוד. פרוות האמסטף היא פרווה קצרה וזיפית והיא יכולה להגיע במגוון של צבעים ואפילו בשילוב של שלושה צבעים (פרווה מנומרת).
          גובה ממוצע של כלב בוגר: 65 ס"מ משקל ממוצע של כלב בוגר: 45 ק"ג
        </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          כלב האמסטף הוא כלב דרוך, סקרן ובעל אומץ לב גדול. בישראל האמסטף הוגדר ככלב מסוכן בעקבות מספר מקרים של תקיפה ונשיכה והמדינה עושה מאמצים רבים למנוע את גידול הכלבים האלו. 
          המוניטין הגרוע שיצא לכלב הינו בעיקר בגלל אילוף בלתי ראוי ועידוד התוקפנות שלהם, שכן מדובר בכלב אינטליגנטי מאוד שאינו שואף לדומיננטיות במשפחה, אוהב לשחק עם ילדים ונאמן לבעליו ולשאר בני המשפחה. כלב האמסטף יכול להסתדר גם עם חיות מחמד אחרות. 
          לכלב האמסטף אופי נוח והוא בעל סבלנות גדולה מאוד. כלבים אלו יכולים לשמש ככלבי שמירה טובים, אבל כל זאת בתנאי שהם עברו אילוף נכון ומקצועי, שיכול לדכא את הנטייה שלהם לתוקפנות          
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          כלב האמסטף נחשב לכלב חסון בעל מערכת חיסונית חזקה, אבל גם גזע זה נוטה לסבול ממספר בעיות בריאותיות כגון: מפרק ירך פגום שעלול לגרום לו לדלקת פרקים, צליעה וכאב, קטרקט אשר יכול בסופו של דבר להוביל לעיוורון, פיתול קיבה האופייני לכלבים גדולים, בעיות בעור, חירשות והיפוך העפעף פנימה שיכול להצריך ניתוח. קל מאוד לטפח את הפרווה הקצרה שלו.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            כלב האמסטף אוהב פעילות גופנית וזקוק לה. חשוב לספק לו מקום גדול ובטוח להתרוצץ בו, או פעילות גופנית מסודרת כגון הליכות ארוכות או ריצות קלות. כלבים אלו חייבים להיות מוחזקים כל הזמן ברצועה, בעיקר כדי למנוע מהם להתעמת עם כלבים אחרים.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              אילוף כלב האמסטף חייב להיעשות בגיל צעיר מאוד יחד עם תהליך חיברות ראוי. האמסטף צריך ללמוד כיצד להתנהג בתוך הבית והמשפחה ואתם חייבים לדכא אצלו לחלוטין התנהגות טריטוריאלית וגם לדכא את הדחף שלהם לברוח. אסור לקשור כלבים אלו לגדר ללא השגחה ואסור לתת לילדים או מבוגרים להתעלל בהם כדי שהם יהפכו לתוקפניים יותר. 
              כלבים אלו יכולים להפוך לאגרסיביים ומרושעים בדיוק כמו כל כלב אחר, אבל עם האילוף הנכון מרביתם הם כלבים טובים ובני לוויה נהדרים לכל המשפחה. 
              שיעורי האילוף בדרך כלל הולכים מצוין עם כלב האמסטף מכיוון שכלב זה רוצה מאוד לרצות את בעליו, בזמן האילוף הם צריכים להיות מוחזקים ברצועה כל הזמן ואתם חייבים לבסס את מעמדכם כמנהיגים שלהם.
              
            </div>
      </mat-tab>
  </mat-tab-group>
  
