
<div class="example-container">

  <mat-card class="mainCard">
      <h3 style="color:rgba(33, 49, 49, 0.678)">הרשמה לקבוצה</h3>
      <form class="form">
  <mat-form-field style="text-align:right">
    <input matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;שם הכלב" name="name" [(ngModel)] = "name">
   
  </mat-form-field>
  <div style="color:red"> {{name_output}}</div>
 
   <br>
  <!-- <mat-form-field style="text-align:right" class="age"> -->
    <input matInput placeholder="&nbsp;&nbsp;גיל" type="number" name="age" [(ngModel)] = "age">
  <!-- </mat-form-field> -->
  <div style="color:red"> {{age_output}}</div>
  <br>
  <mat-form-field style="text-align:right">
    <mat-select placeholder="סוג הכלב" [(ngModel)]="type" name="type">
      <mat-option *ngFor="let dog of dogs" [value]="dog" >
        {{dog}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>
  <div style="color:red"> {{type_output}}</div>
  <br>
 
  <mat-form-field style="text-align:right">
    <mat-select placeholder="בחר קבוצה" [(ngModel)]="group" name="group">
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div style="color:red"> {{group_output}}</div>
  
 
  <h4 style="color:rgba(33, 49, 49, 0.678)">מין</h4>
  <mat-radio-group name = "gender" [(ngModel)]="gender">
    <mat-radio-button name="male" value="זכר"> &nbsp;&nbsp;זכר</mat-radio-button>
    <br>
    <br>
    <mat-radio-button name="female" value="נקבה">&nbsp;&nbsp;נקבה</mat-radio-button>
   
  </mat-radio-group>
  <div style="color:red"> {{gender_output}}</div>
  
<br>

    <h4 style="color:rgba(33, 49, 49, 0.678)">מצב הכלב</h4>
    <mat-checkbox class="example-margin" name="checked" [(ngModel)]="checked">&nbsp;&nbsp; הכלב עבר סירוס/עיקור</mat-checkbox>
      <br>
      <br>
      <button mat-raised-button type="button" (click)="groupRegister()" class="myButton">הירשם</button>
    </form>
    </mat-card>
  
</div>

<img src=".\assets\images\dog.jpg" class="image">