*
{
    font-family: "Calibri";
}
.example-container {
   
    display: flex;
      flex-direction: column;
      width: 10%;
      float: right;
    }
    .mainCard{
      width: 975%;
      margin-right: 4px;
      background-color: #f3efec;
    }
    
    
    /* .example-container > * {
      width: 10%;
      float: right;
    } */
  
    /* .mat-radio-button{
      margin: 5px;
      padding: 
    } */
  
    .mat-radio-group{
      margin: 5px;
      
    }

    .mat-radio-button
    {
        margin-right:8px;
    }
    .form
    {
        width: 30%;
    }

    .mat-form-field
    {
        width: 100%;
    }

    .example-h2 {
        margin: 10px;
      }
      
      .example-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
      }
      

    .image{
      float: left;
      margin-top: 10%;
     margin-left: 50px;
      position: relative;
      width: 55%;
      height: 345px;
    }
    div{
      width: max-content;
    }
    h4{
      width: max-content;
      margin-bottom: 1rem;
    }
  
    .myButton {
      -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
      -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
      box-shadow:inset 0px 1px 3px 0px #91b8b3;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
      background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
      background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
      background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
      background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
      background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
      background-color:#768d87;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      border:1px solid #566963;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      /* padding:11px 23px; */
      text-decoration:none;
      text-shadow:0px -1px 0px #2b665e;
     float: left;
    }
    .myButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
      background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
      background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
      background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
      background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
      background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
      background-color:#6c7c7c;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }