<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
<div class="App">
  <aside class="sidebar left-sidebar">
    <section *ngIf="!currentUser.id" class="join-chat">
      <h4>הצטרף לצ'אט</h4>
      <form (ngSubmit)="addUser()">
          <div class="try">
        <input placeholder="הכנס שם משתמש" type="text" name="userid" [(ngModel)]="userId" />
        <button class="sub" type="submit"><i class="fa fa-hand-point-left"></i></button>  
      </div>
      </form>
    </section>
    <section *ngIf="currentUser.id" class="room-members">
      <h4>משתמשים</h4>
      <ul class="user-list">
        <li *ngFor="let user of roomUsers">
          <span class="presence {{ user.presence.state }}"></span>
          <span>{{ user.name }}</span>
        </li>
      </ul>
    </section>
    <form class="addFriends" *ngIf="currentRoom.isPrivate" (ngSubmit)="addUserToRoom()">
      <label for="user-name">צרף חברים ל {{ currentRoom.name }}</label>
      <div class="try">
      <input type="text" class="newUser-input" [(ngModel)]="newUser" name="user-name" id="user-name" placeholder="הכנס שם משתמש">
      <button class="sub" type="submit"><i class="fa fa-hand-point-left"></i></button>  
        </div>
    </form>
  </aside>

  <div class="chat-window">
    <header class="chat-header">
      <h4 *ngIf="!currentRoom.name; else roomName">צ'אט</h4>
      <ng-template #roomName>
        <h4>{{ currentRoom.name }}</h4>
      </ng-template>
      <span class="participants"></span>
    </header>
    <section class="chat-session">
      <ul class="message-list">
        <li class="user-message" *ngFor="let message of messages">
          <span class="user-id">{{ message.senderId }}</span>
          <span>{{ message.text }}</span>
          <img *ngIf="message.attachment"
          class="image-attachment"
          src="{{ message.attachment.link }}"
          alt="{{ message.attachment.name }}"
          />
        <a *ngFor="let link of message.url_matches" href="{{ link }}"
          class="link-preview">{{
          link }}</a>
        </li>
      </ul>
      <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker"></emoji-mart>
    </section>
    <footer  *ngIf="currentUser.id" class="chat-footer">
        <form (ngSubmit)='sendMessage()'>
          <button
            type="button"
            class="toggle-emoji"
            (click)="toggleEmojiPicker()"
            >
            <i class="fa fa-grin-alt" style="color:gray;"></i>
          </button>
          <input placeholder="הקלד הודעה. לחץ Enter לשליחה" type="text"
          name="newMessage" [(ngModel)]="newMessage">
        </form>
      </footer>
   
    </div>

  <aside class="sidebar right-sidebar">
    <section class="room-section">
      <section *ngIf="currentUser.id" class="user-rooms">
          <h4>החדרים שלי</h4>
          <ul class="room-list">
            <li *ngFor="let room of userRooms">
              <div [class.active]="room.id==currentRoom.id" (click)="connectToRoom(room.id)" class="room">
                <span class="room-status" *ngIf="room.isPrivate; else publicRoom">🔒</span>
                <ng-template #publicRoom>
                  <span>🌐</span>
                </ng-template>
                <span class="room-name">{{ room.name }}</span>
              </div>
            </li>
          </ul>
        </section>
        <section *ngIf="joinableRooms.length > 0" class="joinable-rooms">
            <h4>חדרים להצטרפות</h4>
            <ul class="room-list">
                <li *ngFor="let room of joinableRooms">
                  <div class="room" (click)="joinRoom(room.id)">
                    <span class="room-status" *ngIf="room.isPrivate; else publicRoom">🔒</span>
                    <ng-template #publicRoom>
                      <span>🌐</span>
                    </ng-template>
                    <span class="room-name">{{ room.name }}</span>
                  </div>
                </li>
              </ul>
        </section>
    </section>
    <section *ngIf="currentUser.id" class="create-room">
      <form (ngSubmit)="createRoom()">
          <label for="is-private">
              <input type="checkbox" [(ngModel)]="newRoom.isPrivate" name="is-private" id="is-private">
              <span> האם החדר פרטי?</span>
          </label>
        <div class="try">
        <input type="text" [(ngModel)]="newRoom.name" name="room-name" id="room-name" placeholder="צור חדר חדש">
        <button class="sub" type="submit"><i class="fa fa-hand-point-left"></i></button>  
      </div>
        
      </form>
    </section>
  </aside>
</div>
</body> 
