html {
    box-sizing: border-box;
    direction: rtl;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  } */
  
  .App {
    width: 100%;
    /* height: 650px; */
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0;
    color: #333;
    direction: rtl;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
  }
  
  form {
    margin-bottom: 0;
  }
  
  input[type="text"] {
    color: #333;
    border-radius: 10px;
  }
  
  .sidebar {
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #95c3dd;
    color: #fff;
    padding: 5px 10px;
  }
  
  .sidebar input {
    color: #333;
    border-radius: 10px;
  }
  .try
  {
    display: flex;
  }
  
  .sidebar section {
    margin-bottom: 20px;
  }
  
  .left-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .room-members {
    flex-grow: 1;
  }
  .right-sidebar .room {
    display: flex;
  }
  
  .newUser-input {
    margin-bottom: 0;
  }

  .addFriends
  {
    margin-bottom: 10px;
  }
  .sub
  {
    margin-right: 5px;
    color: grey;
    width: 40px;
    background: white;
    border-radius: 10px;
  }
  
  .right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    z-index: 10;
  }
  
  .room {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .room:hover {
    background-color: goldenrod;
    color: #333;
  }
  
  .room.active {
    background-color: #11D771;
    color: #333;
  }
  
  .room-name {
    display: inline-block;
    margin-left: 10px;
  }
  
  .user-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .presence {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .presence.online {
    background-color: green;
  }
  
  .chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chat-window > * {
    padding: 10px 20px;
  }
  
  .chat-header, .chat-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
  }
  
  .chat-header {
    border-bottom: 1px solid #ccc;
    flex-grow: 0.2;
    padding: 10px 20px;
    height: 20px;
  }
  
  .chat-session {
    height: calc(100vh - 128px);
    overflow-y: auto;
    position: relative;
  }
  .create-room {
    padding: 0 10px;
  }
  
  .create-room button {
    display: block;
  }
  
  input[type="checkbox"] {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 5px;
  }
  
  .is-private {
    display: flex;
    align-items: center;
  }
  
  .user-rooms h4, .joinable-rooms h4 {
    padding-left: 10px;
  }
  .message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
  }
  
  .user-message {
    margin-top: 10px;
  }
  
  .user-message span {
    display: block;
  }
  
  .user-id {
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .chat-footer {
    border-top: 1px solid #ccc;
    position: fixed;
    margin-top: 450px;
    width: 60%;
    z-index: 5;
  }
  
  .chat-footer form, .chat-footer input {
    width: 100%;

  }
  
  .chat-footer {
    padding: 0 !important;
  }
  
  .chat-footer form {
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 10px;
  }
  
  .chat-footer input {
    height: 50px;
    flex-grow: 1;
    line-height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    font-size: 16px;
    color: #333;
    min-height: auto;
    overflow-y: hidden;
    resize: none;
    border-left: 1px solid #ccc;
  }
  .message-input {
    flex-grow: 0.4;
  }
  
  .send-message {
    background-color: #300d4f;
    color: #fff;
    border: 1px solid #300d4f;
    padding: 10px;
  }
  
  .is-typing {
    text-align: left;
  }
   .emoji-mart {
        position: fixed;
        bottom: 70px;
        right: 20px;
      }
  
      .chat-footer button {
        border: none;
        width: 50px;
        height: auto;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .toggle-emoji svg {
        width: 28px;
        height: 28px;
      }
  
      .giphy-search {
        position: fixed;
        bottom: 70px;
        right: 20px;
        width: 300px;
        height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
      }
  
      .giphy-search input {
        width: 100%;
      }
  
      img {
        max-width: 100%;
      }
  
      .gif-result img {
        cursor: pointer;
      }
  /* 
  .App {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      border: 1px solid #ccc;
      color: #333;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      margin: 0;
    }
    
    h4 {
      margin-bottom: 10px;
    }
    
    ul {
      list-style: none;
    }
    
    form {
      margin-bottom: 0;
    }
    
    input[type="text"] {
      color: #333;
      border-radius: 0;
    }
    
    .sidebar {
      flex-basis: 15%;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: #95c3dd;
      color: #fff;
      padding: 10px 10px;
    }
    
    .left-sidebar section {
      margin-bottom: 20px;
    }
    
    .left-sidebar {
      display: flex;
      flex-direction: column;
    }
    
    .room-members {
      flex-grow: 1;
    }
    
    .right-sidebar .room {
      display: flex;
    }
    
    .newUser-input {
      margin-bottom: 0;
    }
    
    .right-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }
    
    .room {
      padding: 5px 10px;
      cursor: pointer;
    }
    
    .room:hover {
      background-color: goldenrod;
      color: #333;
    }
    
    .room.active {
      background-color: #11D771;
      color: #333;
    }
    
    .room-name {
      display: inline-block;
      margin-left: 10px;
    }
    
    .user-list li {
      margin-bottom: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    
    .presence {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      margin-right: 10px;
      border-radius: 50%;
    }
    
    .presence.online {
      background-color: green;
    }
    
    .chat-window {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .chat-header, .chat-footer {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
    
    .chat-header {
      border-bottom: 1px solid #ccc;
      padding: 10px 20px;
      height: 40px;
    }
    
    .chat-header h4 {
      margin-bottom: 0;
    }
    
    .chat-session {
      flex-grow: 1;
      padding: 10px 20px;
      overflow-y: auto;
    }
    
    .message-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    .user-message {
      margin-top: 10px;
    }
    
    .user-message span {
      display: block;
    }
    
    .user-id {
      font-weight: bold;
    }
    
    .chat-footer {
      padding: 0;
      border-top: 1px solid #ccc;
      height: 50px;
    }
    
    .message-form {
      width: 100%;
      height: 100%;
    }
    
    .message-input {
      width: 100%;
      border: none;
      margin-bottom: 0;
      height: 100%;
    }
    
    .message-input:focus {
      border: none;
    }
    
    .send-message {
      background-color: #95c3dd;
      color: #fff;
      border: 1px solid #95c3dd;
      padding: 10px;
    }
    
    .create-room {
      padding: 0 10px;
    }
    
    .create-room button {
      display: block;
    }
    
    input[type="checkbox"] {
      margin-bottom: 0;
      display: inline-block;
      margin-right: 5px;
    }
    
    .is-private {
      display: flex;
      align-items: center;
    }
    
    .user-rooms h4, .joinable-rooms h4 {
      padding-left: 10px;
    } */