.gif{
    display: block;
   margin: 0 auto;
}

.all
{
    margin: 0 auto;
    width: 75%;
}

.btn
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

li
{
    list-style-type: none;
}