<mat-card class="all">
<div>
  <img class="gif" src="https://media.giphy.com/media/LwFBZ6bUq3trKRphqq/giphy.gif">
</div>
<div>
  <p style='font-family: calibri;font-size: 72px;text-align: center;'>
הניקוד שלך <br> {{score}}</p>
<div *ngIf="type=='סוגים'" style='font-family: calibri;font-size: 24px;'>התשובות הנכונות הן:
  <ul>
    <li>1. לברדור רטריבר</li>
    <li>2. גרמניה</li>
    <li>3. ארגוס</li>
    <li>4. סין</li>
  </ul>
</div>
<div *ngIf="type=='ידע כללי'" style='font-family: calibri;font-size: 24px;'>התשובות הנכונות הן:
    <ul>
      <li>1. מצרים</li>
      <li>2. מתנשמים עם הלשון בחוץ</li>
      <li>3. 4</li>
      <li>4. זאב</li>
    </ul>
  </div>
<button mat-button-raised class="btn" (click)="back()">חזור להתחלה</button>
</div>
</mat-card>