.example-card {
    max-width: 450px;
    height: 200px;
    margin: 50px auto;
    text-align: center;
  }
.body
{
    display: flex;
   justify-content: center;
   /* align-content: center; */
   align-items: center;
}

.icons
{
    display: flex;
    flex-direction: column; 
    /* width: 100%; */
}
.row
{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-end;
}

#icon
{
    align-content: center;
    align-items: center;
}