<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
<mat-card class="example-card body">
    <div class="icons">  
  <h2>הרשמתך לקבוצה התקבלה!</h2>
  <div class="row">
  <i id="icon" class="fa fa-dog fa-5x fa-flip-horizontal" style="color:gray;"></i>
  <i id="icon" class="fa fa-paw fa-3x"></i>
  <i id="icon" class="fa fa-dog fa-5x" style="color:gray;"></i>
    </div>
  </div>

</mat-card>
</body>