
<div class="welcome">
<h2>ברוכים הבאים לאפלקציית כלב חכם</h2>

<p class="body">האפליקציה ללימוד ומעקב אחר אילוף הכלב שלכם בליווי צמוד ועוד המון<br>
  מידע והפתעות ששפתוחות רק למשתמשים רשומים, אז למה אתם מחכים?</p>

  <div class="flex">
    <img class="btn login" src=".\assets\images\login.png" (click)="toLogin()">
    <img class="btn looking" src=".\assets\images\dog_looking.gif">
    <img class="btn register"src=".\assets\images\register.png" (click)="toRegister()">
  </div>
</div>
