.btn
{
    width: 220px;
    height: 190px;
    padding: 5%;
}
.body
{
    font-size: 25px;
    line-height: 1.5;
}

.flex, .welcome
{
    display: flex;
    justify-content: center;
}
.welcome{
    flex-direction: column;
    align-items: center;
}

.login, .register
{
    cursor: pointer;
}