<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <mat-card class="example-card">
    <mat-card-header>
      <h2>הירשם</h2>
    </mat-card-header>
    <mat-card-content>
      <p>ההרשמה לאפליקציה מאפשרת כניסה לשיחות צ'אט, הרשמה לקבוצות אילוף וקבלת מידע רלוונטי על הכלב</p>
    </mat-card-content>
    
    <div class = "top">
      <div class="left-div">
        <p>ניתן להירשם באמצעות:</p>
          <button mat-raised-button class="btn-social btn-facebook" (click) = "onLoginFacebook()">
              <span class="fa fa-facebook"></span>             
                &nbsp; Facebook
          </button> 
          <br><br>
          <button mat-raised-button class="btn-social btn-google" (click) = "onLoginGoogle()">
            <span class="fa fa-google"></span> 
              &nbsp; Google
          </button>
      </div> 
     
    </div> 

    <mat-card-actions>  
      <p>או ליצור משתמש חדש:</p>
      <form class="example-form" name="myForm">   
        <mat-form-field class="example-full-width" style="text-align: right">
          <input  [(ngModel)] = "name" 
                    name = "name" 
                    matInput placeholder="שם פרטי" required>

        </mat-form-field>
        <div *ngIf = "error == 'auth/invalid-name' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "name == null" style = "color: red">{{ required }}</div>
          
        <mat-form-field class="example-full-width">
          <input  [(ngModel)] = "email" 
                  name = "email" 
                  matInput placeholder="אי-מייל" required>
        </mat-form-field>
        <div *ngIf = "error == 'auth/invalid-email' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "error == 'auth/email-already-in-use' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "email == null" style = "color: red">{{ required }}</div>

        <mat-form-field class="example-full-width">
          <input  type = "password"
                  [(ngModel)] = "password" 
                  name = "password" 
                  matInput placeholder="סיסמה" required>
          </mat-form-field>
          <div *ngIf = "error == 'auth/weak-password' && flag" style = "color: red">{{ output }}</div>
          <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
          <div *ngIf = "valid == false" style = "color: red">{{ validation }}</div>
          
          <button mat-raised-button 
                  (click)="register()">הירשם
          </button>
   
      </form>
    </mat-card-actions>
  </mat-card>
</body>


    <div id="dog">
      <div class="bottom"></div>
      <div class="tail"></div> 
      <div class="body main-color"></div>
      <div class="stomach"></div>
      <div class="back-left-leg accent-color"></div>
      <div class="back-right-leg accent-color"></div>
      <div class="back-left-leg-2 accent-color"></div>
      <div class="back-right-leg-2 accent-color"></div>
      <div class="front-left-leg main-color"></div>
      <div class="front-right-leg main-color"></div>
      <div class="head">
        <div class="left-ear main-color"></div>
        <div class="right-ear main-color"></div>
        <div class="face  main-color"></div>
        <div class="w1"></div>
        <div class="w2"></div>
        <div class="w3"></div>
        <div class="mount1"></div>
        <div class="tongue"></div>
        <div class="left-mount"></div>
        <div class="right-mount"></div>
        <div class="mount2"></div>
        <div class="nose"></div>
        <div class="left-eye"></div>
        <div class="right-eye"></div>		
      </div>
      <div class="belt"></div>
      <div class="belt2"></div>
    </div>
