.flex{
    width: 100%; 
   display: flex;
   justify-content: center;
   margin-top: 5%;
}
/* a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
*/
h1{
   text-align: center;
   font-size: 45px;
   font-family: 'Calibri';
}
/*
h4{
   margin:auto;
} */
.image{
   display: block;
  width: 300px;
  height: 330px;
  cursor: pointer;
}
.three
{
    height: 332px;
}
.name{
   margin: auto;
   text-align: center;
   font-size: 28px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}