
<h1>עמוד סרטונים</h1>
<div class="flex">
  
  <div class="image">
    <img src=".\assets\images\dogTraining.png" class="image" (click)="toOne()">
  </div>

  <div class="image">
    <img src=".\assets\images\puppy.png" class="image" (click)="toTwo()">
  </div>

  <div class="image">
    <img src=".\assets\images\chooseDog.jpg" class="image three" (click)="toThree()">
  </div>    

  <div class="image">
    <img src=".\assets\images\funnyDogs.jpg" class="image" (click)="toFour()">
  </div>
</div>   
    
    
 
