
.videos{
    width: 90%;
    height: 90%;
    left: 0px;  
}

.boxSize{
    width: 45% !important;
    height: 45% !important;
    background-color: rgb(64, 78, 78);
    border-radius: 20px;
    margin-bottom: 5% !important;
    /* margin: 5% !important;
    padding-top: 5% !important;
    padding-bottom: 1% !important; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-grid-tile .mat-figure {
margin-bottom: 5% !important;
}

/* .mat-grid-list
{
    padding-top: 5% !important;
    padding-bottom: 1% !important;
} */

img{
    border-radius: 70%; 
}

h2{
    /* display: inline; */
    margin-top: 31px;
    
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

