<br>
<br>
<img src=".\assets\images\funnyDogs1.jpg" class="image" width="100px" height="100px">
&nbsp;&nbsp;&nbsp;
<h2>
    פספוסי כלבים 
</h2>
<br>
<br>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="boxSize">
    <iframe class="videos"
    src="https://www.youtube.com/embed/e-OPyR_P7rU"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  ></iframe> 
  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/AcL0MeVZIxM" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>
  </mat-grid-list>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/-SY-aeSplco" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>

  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/2rdGVxaA59c" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>
</mat-grid-list>






