<div *ngIf = "!(authService.user | async)">
      <img mat-card-image class = "loading" src="./assets/images/loading.gif" alt="loading gif">
</div>

<body *ngIf = "authService.user | async">
<h1>היי {{ (authService.user | async)?.displayName }}!</h1>
<h1>בחר את הפעולה שברצונך לבצע</h1>

<div>
  <br>
  <br>
  <a routerLink="/chat">
 <div>
     <img src=".\assets\images\4.png" class="image" width="200px" height="200px">
     <br>
 </div>
</a>
<a  routerLink="/groupRegister">
<div>
     <img src=".\assets\images\1.png" class="image" width="200px" height="200px">
     <br>
</div>
</a> 

<a  routerLink="/categories">
   <div>
   <img src=".\assets\images\3.png" class="image" width="200px" height="200px">
   <br>
   </div>
</a>
<a  routerLink="/dogs">
<div>
      <img src=".\assets\images\2.png" class="image" width="200px" height="200px">
      <br>
</div>
</a>
<a  routerLink="/quiz">
<div>
      <img src=".\assets\images\5.png" class="image" width="200px" height="200px">
      <br>
</div>
</a>
</div>
</body>