body{
    margin: 0 55px;
}
div{
    width: max-content;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

h2{
    text-align: center;
    font-size: 33px;
}

h1{
    text-align: center;
    font-size: 45px;
}

img{
    border-radius: 70%; 
}


.loading
{
    display: inline-block;
    margin: 100% 250%;
    width: 190%;
    padding: 10px;
}