<br>
<br>
<img src=".\assets\images\chooseDog1.jpg" class="image" width="100px" height="100px">
&nbsp;&nbsp;&nbsp;
<h2>
     בחירת הכלב המתאים 
</h2>
<br>
<br>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="boxSize">
    <iframe class="videos"
    src="https://www.youtube.com/embed/6WgALg1jajY"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  ></iframe>
    
  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/FfDcT-KQneU" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>
  </mat-grid-list>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/J8XpQFquSY8" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>

  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/-pr1ApCZZ5E" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>
</mat-grid-list>






