
.mat-tab-label .mat-tab-label .mat-tab-link .mat-tab .mat-tab-group .mat-card-titl{
    font-family: 'Calibri'!important;
    font-size: 22px;
    color:#95c3dd;
  }
  .mat-tab-label-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  }
  .mat-card-title{
    text-decoration-line: underline;
    text-decoration-style: inherit;
    text-align: center;
    font-size: 38px;
    color: #95c3dd;
    font-weight:bold;
  }
  
  .tab{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color:black;
    direction: rtl;
    float: right; 
    justify-content: center;
    max-width: 75%;
    padding-right: 12%;
  }
  .all-button{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      color: black;
      direction: rtl;
      float: right;
      position: absolute;
      align-items: center;
      display: flex;
      justify-content: center;
     }
   
    
    h1{
      text-align: center; 
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-weight:bold;
      color: #95c3dd;
      font-style: italic;
      font-size: 60px;
      text-decoration-line: underline;
      text-decoration-style: wavy;
      box-shadow:none;
    }
    h3{
      text-align: center; 
      font-family: "calibri"; 
      color: black;
      font-style: italic;
      font-size: 23px;
      direction: rtl;
      box-shadow:none;
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      
    }
  
    .rashi{
      box-shadow:none;
      flex-wrap: wrap;
      display: flex;  
      margin: auto;    
      justify-content: center;
      background:unset;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }
    .mat-card-image {
      padding-right: 12%;
      max-width: 75%;
      float: right;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }
    .mat-card-actions {
      margin-left: 50%;
      max-width: fit-content;
      padding: 8px 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }
   
     .example-large-box {
      display: block;
      border-radius: 8px;
      width: 94%;
      margin-left: auto;
      margin-right: auto;
      padding: 2%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      box-shadow: none;
      margin-bottom: 5%;
      font-size: 18px;
      
    }
  
   
  