/* You can add global styles to this file, and also import other style files */

/* @import 'assets/normalize.css';
@import 'assets/skeleton.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
 
/* * :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
{
    font-family: calibri;
    direction: rtl;
    font-size: 20px;
}  */


*
{
    direction: rtl;
}
 
.mat-grid-list{display:block;position:relative;margin:2%;}
.mat-grid-tile{display:block;position:absolute;overflow:hidden}
.mat-grid-tile .mat-figure{
   
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    padding:0;
    margin:0}
.mat-grid-tile .mat-grid-tile-footer,.mat-grid-tile .mat-grid-tile-header{
    display:flex;
    align-items:center;
    height:48px;color:#fff;
    background:rgba(0,0,0,.38);
    overflow:hidden;
    padding:0 16px;
    position:absolute;
    left:0;
    right:0
}
.mat-grid-tile .mat-grid-tile-footer>*,.mat-grid-tile .mat-grid-tile-header>*{
    margin:0;
    padding:0;
    font-weight:400;
    font-size:inherit
}
.mat-grid-tile .mat-grid-tile-footer.mat-2-line,.mat-grid-tile .mat-grid-tile-header.mat-2-line{
    height:68px
}
.mat-grid-tile .mat-grid-list-text{
    display:flex;flex-direction:column;width:100%;box-sizing:border-box;overflow:hidden
}
.mat-grid-tile .mat-grid-list-text>*{margin:0;padding:0;font-weight:400;font-size:inherit}
.mat-grid-tile .mat-grid-list-text:empty{display:none}
.mat-grid-tile .mat-grid-tile-header{top:0}
.mat-grid-tile .mat-grid-tile-footer{bottom:0}
.mat-grid-tile .mat-grid-avatar{padding-right:16px}[dir=rtl]
 .mat-grid-tile .mat-grid-avatar{padding-right:0;padding-left:16px}
 .mat-grid-tile .mat-grid-avatar:empty{display:none} 