body
{
  width: 100%;
}
.right-div
{
  float: right;
  width: 35%;
  background: #95c3dd;
  margin: 10px;
  height: 470px;
}
.flex
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left-div
{
  float: left;
  width: 60%;  
}
.another
{
  width: 55%;
  border-right: 2px solid grey;
  margin-right: 5px;
  padding-right: 30px;
  height: 370px;
}
.register
{
  margin-right: 240px !important;
}

.left-card
{
  width: 125%;
}

.example-full-width {
  width: 35%;
  text-align: right;
}

input[type="password"]
{
  border: none !important;
}

.mat-card-content, .top, .mat-card-actions
{
  margin-left: 30px;
  margin-right: 30px;
}
.mat-raised-button
{
  margin: 0;
}



.btn-social
{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0,0,0,0.2); 
  width: 50%;
}

.btn-facebook
{
  background: #3b5998;
}

.btn-google
{
  background: #dd4b39;
}
 .main-color{
	background-color: #4B4B4D; /*Black*/
}

.accent-color{
	background-color: #2B2A2A; /*Black*/
}

body{
	/* background-color: #0B9DD6; */
	margin: 0;
	padding: 0; 
	width: 100%;
	height: 100%;
}

#dog{
	width: 500px;
	height: 500px;
  position: relative;
}

.bottom{
	height: 40px;
	width: 300px;
	/* background-color: #3E4095; */
	border-radius: 50%;
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.tail{
	height: 60px;
	width: 170px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	bottom: 180px;
	left: 100px;
	transform: rotate(35deg);
	animation: tail-animation 5s infinite;
}

.tail:after{
	content: "";
	height: 30px;
	width: 170px;
	/* background-color: #0B9DD6; */
	position: absolute;
	bottom:30px;
	left: 0px;
}

.body{
	height: 140px;
	width: 120px;
	border-radius: 40px 40px 0px 0px;
	position: absolute;
	bottom: 120px;
	left: 190px;
}

.stomach{
	height: 95px;
	width: 45px;
	background-color: white;
	border-radius: 40px 40px 0px 0px;
	position: absolute;
	bottom: 120px;
	left: 227.5px;
}

.back-left-leg{
	height: 60px;
	width: 25px;
	border-radius: 18px 0px 0px 0px;
	position: absolute;
	bottom: 120px;
	left: 165px;
}

.back-left-leg-2{
	height: 17px;
	width: 35px;
	border-radius: 15px 0px 0px 0px;
	position: absolute;
	bottom: 120px;
	left: 150px;
}

.back-right-leg{
	height: 60px;
	width: 25px;
	border-radius: 0px 18px 0px 0px;
	position: absolute;
	bottom: 120px;
	right: 165px;
}

.back-right-leg-2{
	height: 17px;
	width: 35px;
	border-radius: 0px 15px 0px 0px;
	position: absolute;
	bottom: 120px;
	right: 150px;
}
.front-left-leg{
	height: 20px;
	width: 49px;
	border-radius: 18px 0px 0px 0px;
	position: absolute;
	bottom: 120px;
	left: 170px;
}

.front-right-leg{
	height: 20px;
	width: 49px;
	border-radius: 0px 18px 0px 0px;
	position: absolute;
	bottom: 120px;
	right: 170px;
}

.belt{
	height: 12px;
	width: 100px;
	background-color: red;
	border-radius: 3px;
	position: absolute;
	bottom: 250px;
	left: 200px;
}

.belt2{
	height: 16px;
	width: 24px;
	background-color: yellow;
	border-radius: 5px;
	position: absolute;
	bottom: 248px;
	left: 238px;
}

.head{
	height: 180px;
	width: 170px;
	position: absolute;
	bottom: 250px;
	left: 165px;
	animation: head-animation 5s infinite;
}

.face{
	height: 180px;
	width: 170px;
	border-radius: 70px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.w1{
	height: 63px;
	width: 132px;
	background-color: white;
	border-radius: 50px;
	position: absolute;
	bottom: 23px;
	left: 19px;
	animation:  wi-animation 5s infinite;
}

.w2{
	height: 95px;
	width: 57px;
	background-color: white;
	border-radius: 55px;
	position: absolute;
	bottom: 40px;
	right: 38px;
	animation: wii-animation 5s infinite;
}

.w3{
	height: 95px;
	width: 57px;
	background-color: white;
	border-radius: 55px;
	position: absolute;
	bottom: 40px;
	left: 38px;
	animation: wiii-animation 5s infinite;
}

.nose{
	height: 12px;
	width: 25px;
	background-color: black;
	border-radius: 5px 5px 15px 15px;
	position: absolute;
	bottom: 60px;
	left: 72.5px;
	animation: nose-animation 5s infinite;
}

.left-eye{
	height: 12px;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	bottom: 90px;
	left: 60px;
	animation: lefteye-animation 5s infinite;
}

.right-eye{
	height: 12px;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	bottom: 90px;
	right: 60px;
	animation: righteye-animation 5s infinite;
}

.left-ear{
	height: 100px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	bottom: 100px;
	left: 0px;
	z-index: -2;
	animation: leftear-animation 5s infinite;
}

.left-ear:after{
	content: " ";
	height: 80px;
	width: 40px;
	background-color: #B13A41;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	left: 5px;
	z-index: -2;
}

.right-ear{
	height: 100px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	bottom: 100px;
	right: 0px;
	z-index: -2;
	animation: rightear-animation 5s infinite;
}

.right-ear:after{
	content: " ";
	height: 80px;
	width: 40px;
	background-color: #B13A41;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	right: 5px;
	z-index: -2;
}

.left-mount{
	height: 23px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	border: black solid 3px;
	bottom: 40px;
	left: 55.5px;
	animation: leftmount-animation 5s infinite;
}

.right-mount{
	height: 23px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	border: black solid 3px;
	bottom: 40px;
	right: 55.5px;
	animation: rightmount-animation 5s infinite;
}

.mount2{
	height: 20px;
	width: 63px;
	background-color: white;
	position: absolute;
	bottom: 57px;
	left: 53px;
	animation: mount2-animation 5s infinite;
}

.mount1{
	height: 18px;
	width: 25px;
	background-color: transparent;
	border-radius: 0px 0px 18px 18px;
	position: absolute;
	bottom: 30px;
	left: 72.5px;
	animation: mount1-animation 5s infinite;
}

.tongue{
	height: 18px;
	width: 18px;
	background-color: transparent;
	border-radius: 4px 4px 10px 10px;
	position: absolute;
	bottom: 22px;
	left: 76px;
	animation: tongue-animation 5s infinite;
}

@keyframes tongue-animation{
	1%{
		background-color: transparent;
	}
	49%{
		background: transparent;
	}
	49.7%{
		background-color: #DB3438;
	}
	51%{
		height: 24px;
		bottom: 16px;
	}
	53%{
		height: 18px;
		bottom: 22px;
	}
	55%{
		height: 24px;
		bottom: 16px;
	}
	57%{
		height: 18px;
		bottom: 22px;
	}
	59%{
		height: 24px;
		bottom: 16px;
	}
	61%{
		height: 18px;
		bottom: 22px;
	}
	62%{
		height: 24px;
		bottom: 16px;
	}
	64%{
		height: 18px;
		bottom: 22px;
	}
	66%{
		height: 24px;
		bottom: 16px;
	}
	68%{
		height: 18px;
		bottom: 22px;
	}
	70%{
		height: 24px;
		bottom: 16px;
	}
	72%{
		height: 18px;
		bottom: 22px;
	}
	74%{
		height: 24px;
		bottom: 16px;
	}
	76%{
		height: 18px;
		bottom: 22px;
	}
	78%{
		height: 24px;
		bottom: 16px;
	}
	80%{
		height: 18px;
		bottom: 22px;
	}
	82%{
		height: 24px;
		bottom: 16px;
	}
	84%{
		height: 18px;
		bottom: 22px;
	}
	86%{
		height: 24px;
		bottom: 16px;
	}
	88%{
		height: 18px;
		bottom: 22px;
	}
	89%{
		height: 10px;
		bottom: 30px;
	}
	90%{
		height: 2px;
		bottom: 38px;
	}
	91%{
		background-color: #DB3438;
	}
	91.5%{
		background-color: transparent;
	}
}

@keyframes tail-animation{
	51%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	53%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	55%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	57%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	59%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	61%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	63%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	65%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	67%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	69%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	71%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	73%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	75%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	77%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	79%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	81%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	83%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	85%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
	87%{
		transform: rotate(65deg);
		left: 120px;
		bottom: 193px;
	}
	89%{
		bottom: 180px;
		left: 100px;
		transform: rotate(35deg);
	}
}

@keyframes mount1-animation{
	1%{
		background: transparent;
	}
	49%{
		background: transparent;
	}
	49.7%{
		background: black;
	}
	89%{
		height: 18px;
		bottom: 30px;
	}
	90%{
		height: 10px;
		bottom: 38px
	}
	91%{
		background-color: black;
	}
	91.5%{
		background-color: transparent;
	}
}

@keyframes head-animation{
	10%{
		transform: rotate(10deg) translate(2px,2px);
	}
	40%{
		transform: rotate(0deg) translate(0px,0px);
	}
}

@keyframes wi-animation{
	10%{
		left: -4px;
		bottom: 26px;
	}
	40%{
		bottom: 43px;
		left: 19px;
	}
	50%{
		bottom: 23px;
		left: 19px;
	}
}
@keyframes wii-animation{
	10%{
		right: 61px;
	}
	40%{
		bottom: 55px;
		right: 38px;
	}
	50%{
		bottom: 40px;
		right: 38px;
	}
}
@keyframes wiii-animation{
	10%{
		left: 15px;
	}
	40%{
		bottom: 55px;
		left: 38px;
	}
	50%{
		bottom: 40px;
		left:  38px;
	}
}
@keyframes lefteye-animation{
	10%{
		bottom: 94px;
		left: 20px;
	}
	37%{
		bottom: 130px;
		left: 60px;
	}
	40%{
		height: 12px;
	}
	41%{
		height: 2px;
	}
	42%{
		height: 12px;
	}
	54%{
		bottom: 90px;
		left: 60px;
	}
	71%{
		height: 12px;
	}
	72%{
		height: 2px;
	}
	73%{
		height: 12px;
	}
}

@keyframes righteye-animation{
	10%{
		bottom: 94px;
		right: 90px;
	}
	37%{
		bottom: 130px;
		right: 60px;
	}
	40%{
		height: 12px;
	}
	41%{
		height: 2px;
	}
	42%{
		height: 12px;
	}
	54%{
		bottom: 90px;
		right: 60px;
	}
	71%{
		height: 12px;
	}
	72%{
		height: 2px;
	}
	73%{
		height: 12px;
	}
}
@keyframes nose-animation{
	10%{
		bottom: 65px;
		left: 35px;
	}
	40%{
		bottom: 95px;
		left: 72.5px;
	}
	50%{
		bottom: 60px;
		left: 72.5px;
	}
}
@keyframes leftmount-animation{
	10%{
		bottom: 45px;
		left: 18px;
	}
	40%{
		bottom: 75px;
		left: 55.5px;
	}
	50%{
		bottom: 40px;
		left: 55.5px;
	}
}
@keyframes rightmount-animation{
	10%{
		bottom: 45px;
		right: 92px;
	}
	40%{
		bottom: 75px;
		right: 55.5px;
	}
	50%{
		bottom: 40px;
		right: 55.5px;
	}
}
@keyframes mount2-animation{
	10%{
		bottom: 62px;
		left: 16px;
	}
	40%{
		bottom: 92px;
		left: 53px;
	}
	50%{
		bottom: 57px;
		left: 53px;
	}

}
@keyframes leftear-animation{
	10%{
		bottom: 90px;
		left: 0px;
	}
	40%{
		bottom: 90px;
		left: 0px;
	}
	50%{
		bottom: 100px;
		left: 0px;
	}
	76%{
		transform: rotate(0deg);
	}
	77%{
		transform: rotate(-20deg);
	}
	79%{
		transform: rotate(0deg);
	}
}

@keyframes rightear-animation{
	40%{
		bottom: 90px;
		right: 0px;
	}
	50%{
		bottom: 100px;
		right: 0px;
	}
	76%{
		transform: rotate(0deg);
	}
	77%{
		transform: rotate(20deg);
	}
	79%{
		transform: rotate(0deg);
	}
}