<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אפגני - Afghan Hounds
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Afghan_Hounds.jpg">   
  
  <mat-tab-group class="tab" >
    <mat-tab label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
          כלב הציד האפגני מגיע מגזע מאוד עתיק של כלבים אלגנטיים בעלי מראה מלכותי, יש לכלבים אלו מראה מרשים מאוד בזכות מבנה הגוף הצר והגבוה ופרוות המשי הרכה והארוכה שמתנופפת סביבם. הראש והצוואר הגבוהים של כלבי הציד האפגניים, גורמים לרבים לטעון שיש להם מראה סנובי מרוחק. ראשם של הכלבים גם הוא ארוך צר ומחודד, העיניים של גזע זה כהות ובצורת שקד, האוזניים ארוכות מאוד ומגיעות מעבר לפנים שלהם. הליכתם של כלבים מרהיבים אלו אצילית, ראשיהם נישאים בגאון ופרוותם מתנופפת סביבם.

          גובה ממוצע של כלב בוגר: 68.5-74 ס"מ משקל ממוצע של כלב בוגר: 26-34 ק"ג
      </div>
    </mat-tab>
      <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          למרות המראה אריסטוקרטי, הכלבים האפגניים הם בעצם כלבים חמודים מאוד שאוהבים להשתעשע ונהנים מתשומת לב. כלבים אלו נקשרים בדרך כלל לאחד או שניים מבין בני המשפחה ובוחרים לציית רק להם. האישיות שלו דומה לחתול, הם בוחרים מתי הם יקבלו תשומת לב וידידות. כלבים אלו אינם מתאימים לילדים קטנים עקב ביישנותם ועצבנותם מתנועות פתאומיות וקולות רמים, הם נהנים מאינטראקציה עם ילדים בוגרים ויכולים להתחבר בצורה טובה לחיות מחמד אחרות. האופי של הכלבים האפגניים הוא מגוון מאוד וטמפרמנטי, הם מאוד אוהבים לשחק. לפעמים הם גם נוטים להיות סרבניים ואינם מצייתים לפקודות במיוחד לחזור חזרה כאשר הם עסוקים בריצה או במשחק. אילוף עקבי ואינטראקציה חיובית עם המשפחה, הם הדרך הטובה ביותר לשפר את אופיו של כלב הציד האפגני ולהפוך אותו למתוק ועדין.
          </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          בעיות הבריאות הנפוצות ביותר אצל הכלבים האפגניים הם בלב, בעיניים ופציעות בזנב. לכלב האפגני יש סף כאב נמוך והם זקוקים לתשומת לב בכל סוג של פציעה. מלבד זאת הם יכולים לסבול משיתוק נשמתי אצל גורים, קרדיות אוזניים ודלקות אוזניים, אלרגיות לחלב ולסוגים מסוימים של מזון, קטרקט, דיספלסיה של מפרק הירך. כלבים אלו גם נוטים להיות רגישים לסוגים מסוימים של תרופות כמו תרופות להרדמה. 
          השיער הארוך והיפה של הכלב זקוק לסירוק קבוע כדי לשמור על המראה שלו וכדי להימנע מקשרים, הסירוק יכול לקחת מספר שעות בשבוע. כלבים שמשמים לתצוגות זקוקים לרחצה אחת לשבוע, כדאי להתאים את המברשת לאורך הפרווה של הכלב האפגני ולהשתמש בתרסיס לחות.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            הכלב האפגני זקוק לשני פרקי זמן של 60 דקות לצאת ולרוץ בשטח מגודר, הם רצים רק בשביל ההנאה שבפעילות עם או בלי חברה, הם חייבים לדהור באופן חופשי כדי לחזק את השרירים שלהם. השטח שבהם הם מופעלים חייב להיות מגודר עקב סירובם לחזור, הם גם אוהבים לרדוף אחר מכוניות, חתולים וכל דבר אחר שיתפוס את תשומת לבם.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              כלבי הציד האפגניים הם כלבים חכמים מאוד, אבל יש להם נטייה עצמאית הדורשת מהבעלים שלהם סבלנות והבנה. הם זקוקים לאימון עקבי ותקיף, אבל אסור לדבר אליהם בחומרה או בטון כועס כי הם יעלבו ויהפכו לביישניים, עצבניים ומתוחים, לכן האילוף צריך להיות רגוע ועדין בנוסף לפעילות הגופנית על בסיס יומיומי, הפעילות צריכה להיות מגוונת מכיוון שהם נוטים להשתעמם. הכלבים האפגניים חייבים להיות קשורים ברצועה כדי למנוע מהם לברוח. אילוף במקצועי בכיתה יכול מאוד להועיל להם.         
            </div>
      </mat-tab>
  </mat-tab-group>
  
